/*
    Openstatic.org style sheet
*/


/* paragraphs */
p, li, blockquote, table
{
    margin-left: 12px;
    margin-right: 8px;
    margin-top: 0px;
    font-family: "terminal", monospace;
    font-size: .9em;
    line-height: 150%;
    text-align: left;
    width: 800px;
}

div.falsebody
{
    background-color: #F1F1F1;
    width: 814px;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    text-align: left;
}

body
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #FFFFEE;
}

.codebox
{
    background-color: #e0e0e0;
    border-style: dotted;
    border-width: 1px;
    border-color: black;
    font-family: "terminal", monospace;
    margin-left: 12px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    white-space: pre;
    text-align: left;
}

.prettystuff
{
    margin-left: 12px;
    margin-right: 8px;
    margin-top: 0px;
    font-family: "terminal", monospace;
    font-size: .7em;
    display: block;
    white-space: pre;
}

/* headers */
h1
{
    font-family: "terminal", monospace;
    font-size: 36px;
    text-shadow: 0.1em 0.1em 0.6em #FFFFFF;
    color: #EBEB00;
    line-height: 80%;
    letter-spacing: 4px;
    margin: 0px 0px 8px 0px;
    text-align: left;
}

h2
{
    font: normal 1.5em Terminal, serif;
    color: #444400;
    margin: 0px 0px 12px 7px;
    /* text-shadow: 0.2em 0.1em 0.4em #555555; */
    text-decoration: underline;
    text-align: left;
}

h3
{
    font: normal 1.3em Terminal, serif;
    line-height: 80%;
    margin: 0 0 .7em 0;
    text-decoration: none;
    margin: 0px 0px 5px 10px;
    text-align: left;
}

h4
{
    font: normal 1.2em Terminal, serif;
    margin: 0px 0px 0px 12px;
    text-align: left;
}

div.headbar
{
    background-color: black;
    padding: 12px 12px 12px 12px;
    margin: 0px 0px 0px 0px;
    border-style: none;
    width: 800px;
}

div.nav
{
    background-color: #555555;
    padding: 4px 0px 4px 0px;
    margin: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #777777;
    border-width: 1px;
    height: 23px;
    width: 822px;
}

div.nav a
{
    color: #FFFFFF;
    font-family: "terminal", monospace;
    text-decoration: none;
    border-style: solid;
    border-color: #BBBBBB;
    border-width: 1px;
    padding: 2px 6px 2px 6px;
}

div.nav a:hover
{
    background-color: #BBBBBB;
    color: #FF0000;
    font-family: "terminal", monospace;
    text-decoration: none;
    border-style: solid;
    border-color: #BBBBBB;
    border-width: 1px;
    padding: 2px 6px 2px 6px;
}

/* links */
a
{
    color: #666600;
    text-decoration: none;
}

a:hover
{
    color: #999900;
    text-decoration: none;
}

a:visited
{
    color: #666600;
    text-decoration: none;
}

/* images */
img { border: none; }
